.App {
  text-align: center;
}


.App-header {
  position: relative;
  background-color: #F8F8FF;
  width: 100vw;
  min-height: 532px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #121214;
}

.image-one {
  position: absolute;
  width: 407px;
  height: 345px;
  left: 0px;
  top: 0px;
}

.image-two {
  position: absolute;
  width: 414px;
  height: 330px;
  right: 0px;
  bottom: 0px;
}

